

[class*=sidebar-dark-] {
    background-color: #3560A0;
}

[class*=sidebar-dark-] .sidebar a {
    color: #ffffff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #ffffff;
}

[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
    color: #ffffff;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}