body, html{
    font-family: 'Quicksand', sans-serif!important;
    /* font-family: 'Hind Siliguri', sans-serif!important; */
    font-size: 16px!important;
    background: #EFEFF8 url(../images/05.png);
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif!important;
    font-weight: bold;
    margin: 0 0 15px;
    color: #202020;
}
/* section{
    padding: 2rem 0;
} */
.navbar .nav>li {
    padding: 0 8px;
}

.footer-section {
    background-color: #01345B;
    color: #fff;
    position: relative;
}
.footer-copyright {
    background-color: #01345B;
    padding: 20px 0;
    font-size: 12px;
}
/* .theme-bg {
    background-color: #5CE0D8;
} */
.case-study-wrapper.dark-bg {
    background-color: #FFCF43;
}
.process-box {
    background-color: #5CE0D8;
}
.theme-color {
    color: #01345B;
}
.tt-filter-wrap.default-color ul li button.active {
    background-color: #01345B;
}
.footer-sidebar .widget-title {
    color: #ffffff;
}
.footer-section p {
    color: #ffffff;
}
.footer-sidebar, .footer-sidebar a, .footer-sidebar .widget_nav_menu ul li a, .footer-sidebar .tt-latest-post .media-body h4 a {
    color: #ffffff;
}
.icon-block:hover{
    background-color: #01345B!important;
}
.tt-overlay-theme-color {
    background-color: rgba(1,52,91,.9);
}
.footer-sidebar ul li i {
    margin-right: 15px;
    color: #5CE0D8;
}
.btn{
    border-radius:0px;
}
.footer-multi-wrapper .copyright {
    color: #ffffff;
}
.btn-primary{
    background-color: #01345B;
}
.btn-outline-primary{
    border-color: #01345B;
    color: #01345B;
}
.navbar .nav>li>a {
    padding: 10px 0;
}
.form-control {
    height: 40px!important;
    padding: 8px!important;
    font-size: 15px;
    line-height: 18px!important;
    font-weight: 300;
    color: #202020;
    border: 1px solid #dadce0;
    border-radius: 0;
}
.form-control:focus,.form-control:hover{
    border: 1px solid #005EEF;
}
.vc_column-inner{
    padding-top: 50px;
}
.checkbox label, .radio label{
    padding-left: 0px;
}
.checkbox, .radio {
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-sidebar .widget-title {
    font-weight: bold;
}

/*REFERENCE COLOR BY UNILEVER START*/
.navbar-nav>li>a{
    font-weight: 600!important;
}
.dropdown-menu{
    /* background-color: #005EFF; */
    background-color: #ffffff;
}
.dropdown-menu>li>a{
    color: #6904A8;
    font-weight: 600!important;
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
    color: #FF79C6!important;
}
.header-transparent .sticky-wrapper.is-sticky .navbar-default {
    /* background-color: #005EFF; */
    /* background-color: rgba(0,94,238,.9); */
    background-color: #6904A8;
}
.header-transparent .sticky-wrapper.is-sticky .navbar-nav>li>a {
    color: #ffffff;
}
.theme-bg {
    background: url(../images/tosca-bg.jpg)!important;
}
.case-study-wrapper h2{
    color: #005EEF;
}
.case-study-wrapper p{
    color: #000000;
}
.footer-section {
    background: url(../images/bgpattern-blue.jpg);
    /* background: #005EEF; */
    color: #fff;
    position: relative;
}
.case-study-wrapper.dark-bg {
    background-color: #F7F7EF;
}
.footer-copyright {
    background-color: #005EEF;
    padding: 20px 0;
    font-size: 14px;
}
.tt-overlay-theme-color {
    background-color: rgba(0,94,239,.9);
}
.tt-filter-wrap.default-color ul li button.active {
    background-color: #6904A8;
}
.theme-color {
    color: #6904A8;
}
@media (max-width: 767px){
    .dropdown-menu-trigger {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #005EEF;
    border-color: #005EEF;
}
.btn-primary{
    background-color: #005EEF;
    border: 1px solid #005EEF;
    font-size: 18px;
    font-weight: bold;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: #ffffff;
    border: 1px solid #005EEF;
    color: #005EEF;
}
.btn-success{
    background-color: #03D6C7;
    border: 1px solid #03D6C7;
    font-size: 18px;
    font-weight: bold;
}
.btn-success:hover,.btn-success:focus,.btn-success:active{
    background-color: #ffffff;
    border: 1px solid #03D6C7;
    color: #03D6C7;
}
.btn-outline-primary{
    border-color: #005EEF;
    color: #005EEF;
    font-weight: bold;
}
.btn-outline-primary:hover{
    background: #005EEF;
    border-color: #005EEF;
    color: #ffffff;
}
.btn-outline-success{
    border-color: #03D6C7;
    color: #03D6C7;
    font-weight: bold;
}
.btn-outline-success:hover{
    background: #03D6C7;
    border-color: #03D6C7;
    color: #ffffff;
}

label{
    color: #000000;
}
/*REFERENCE COLOR BY UNILEVER END*/

.case-study-left {
    padding: 60px 40px!important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}
.carousel-control.left, .carousel-control.right {
    background:transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff!important;
}
.navbar .nav li a i {
    margin-right: 0px!important;
}
.flex-control-thumbs img {
    opacity: .9;
}
.vc_column_container{
    background: #ffffff;
    /* box-shadow: 0px 15px 35px rgb(0 0 0 / 10%); */
}
.vc_column_container>.vc_column-inner {
    padding-left: 25px;
    padding-right: 25px;
}
.vc_column_containers>.vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}
.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-sidebar .widget_nav_menu ul li a:before {
    color: #03D6C7;
}
.footer-sidebar {
    padding: 40px 0 10px;
    color: #ffffff;
}
#toTop {
    color: #03D6C7;
    border: 2px solid #03D6C7;
}
#toTop:hover{
    background: #03D6C7;
}
@media (max-width: 767px){
    .header-transparent .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav li a {
        color: #ffffff;
        font-weight: bold!important;
    }
}
.sticky-wrapper.is-sticky .navbar-default {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header-transparent .page-title {
    padding: 210px 0 90px;
}

.page-title h1{
    font-size: 35px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    margin-top: -200px;
}

.carousel-fade .carousel-inner .item {
    max-height: 700px;
    opacity: .9!important;
    transition-property:none;
}


@media (min-width: 768px) and (max-width: 991px){
    .trendy-slider .carousel-caption h1 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -3px;
        margin-bottom: 30px;
    }
}

.trendy-slider .carousel-caption h1 {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.trendy-slider .carousel-caption h1 span {
    font-weight: 900;
}

.trendy-slider .carousel-caption h3{
    color: rgb(255, 255, 46);
    font-size: 30px;
}

.navbar-default{
    padding: 10px 0!important;
}

.control-one .left.carousel-control {
    left: 30px;
}
.control-one:hover .carousel-control {
    opacity: 1;
    visibility: visible;
}

.control-one .carousel-control {
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 40px;
    top: 50%;
    margin-top: -25px;
    border-radius: 50%;
    color: #000;
    background-color: #ddd;
    background-image: none;
    text-shadow: none;
    opacity: 0;
    visibility: hidden;
}
.carousel-fade .carousel-control {
    z-index: 20;
}


@media (min-width: 768px) and (max-width: 991px){
    .trendy-slider .carousel-caption h1{
        font-size: 30px;
    }
}

@media (max-width: 767px){
    .trendy-slider .carousel-caption h1, .trendy-slider .carousel-caption h3{
        font-size: 20px;
        line-height: normal;
    }
    .navbar-default {
        background-color: transparent;
        border-color: #e7e7e7;
    }
}
.icon-block.icon-default:hover .tt-icon i{
    color: #202020!important;
}
.icon-block{
    padding: 30px 0;
    transition: 0.3s;
}
.icon-block:hover{
    background-color: #E8E8E8!important;
    border-radius: 15px;
}
.icon-block-grid:hover{
    background-color: #E8E8E8!important;
}
.icon-block-wrapper.block-style-border .icon-block-grid .icon-block{
    padding: 30px 0 !important;
}
.flex-control-thumbs img{
    opacity: .6;
}

.client-slider-v3 blockquote footer .client-name{
    font-weight: bold!important;
    color: #6904A8!important;
}
.navbar-brand img {
    min-width: 100px!important;
    height: auto;
}