body, html{
    /* font-family: 'Open Sans', sans-serif!important; */
    /* font-family: 'Hind Siliguri', sans-serif!important; */
    /* font-size: 16px!important; */
    /* background: #EFEFF8 url(../images/05.png); */
    /* color: #333; */
}
h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Quicksand', sans-serif!important; */
    font-family: 'Roboto Slab', sans-serif!important;
    /* font-weight: bold;
    margin: 0 0 15px;
    color: #202020; */
}
/* section{
    padding: 2rem 0;
} */
.navbar .nav>li {
    padding: 0 8px;
}

/* .footer-section {
    background-color: #01345B;
    color: #fff;
    position: relative;
} */
/* .footer-copyright {
    background-color: #01345B;
    padding: 20px 0;
    font-size: 12px;
} */
/* .theme-bg {
    background-color: #5CE0D8;
} */
.case-study-wrapper.dark-bg {
    background-color: #FFCF43;
}
.process-box {
    background-color: #5CE0D8;
}
/* .theme-color {
    color: #01345B;
} */
.tt-filter-wrap.default-color ul li button.active {
    background-color: #FF2A40;
}
.footer-sidebar .widget-title {
    color: #ffffff;
}
.footer-section p {
    color: #ffffff;
}
.footer-sidebar, .footer-sidebar a, .footer-sidebar .widget_nav_menu ul li a, .footer-sidebar .tt-latest-post .media-body h4 a {
    color: #ffffff;
}
.icon-block:hover{
    background-color: #01345B!important;
}
.tt-overlay-theme-color {
    background-color: rgba(1,52,91,.9);
}
/* .footer-sidebar ul li i {
    margin-right: 15px;
    color: #5CE0D8;
} */
.btn{
    border-radius:0px;
}
.footer-multi-wrapper .copyright {
    color: #ffffff;
}
.btn-primary{
    background-color: #01345B;
}
.btn-outline-primary{
    border-color: #01345B;
    color: #01345B;
}
.navbar .nav>li>a {
    padding: 10px 0;
}
.form-control {
    height: 40px!important;
    padding: 8px!important;
    font-size: 15px;
    line-height: 18px!important;
    font-weight: 300;
    color: #202020;
    border: 1px solid #dadce0;
    border-radius: 0;
}
/* .form-control:focus,.form-control:hover{
    border: 1px solid #005EEF;
} */
/* .vc_column-inner{
    padding-top: 50px;
} */
.checkbox label, .radio label{
    padding-left: 0px;
}
.checkbox, .radio {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* .footer-sidebar .widget-title {
    font-weight: bold;
} */

/*REFERENCE COLOR BY UNILEVER START*/
/* .navbar-nav>li>a{
    font-weight: 600!important;
}
.dropdown-menu{
    background-color: #ffffff;
} */
/* .dropdown-menu>li>a{
    color: #6904A8;
    font-weight: 600!important;
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
    color: #FF79C6!important;
} */
/* .header-transparent .sticky-wrapper.is-sticky .navbar-default {
    
} */
/* .header-transparent .sticky-wrapper.is-sticky .navbar-nav>li>a {
}  */
.theme-bg {
    background: url(../images/tosca-bg.jpg)!important;
}
/* .case-study-wrapper h2{
    color: #005EEF;
} */
.case-study-wrapper p{
    color: #000000;
}
/* .footer-section {
    background: url(../images/bgpattern-blue.jpg);
    color: #fff;
    position: relative;
} */
.case-study-wrapper.dark-bg {
    background-color: #F7F7EF;
}
/* .footer-copyright {
    background-color: #005EEF;
    padding: 20px 0;
    font-size: 14px;
} */


/* .tt-overlay-theme-color {
    background-color: rgba(0,94,239,.9);
}
.tt-filter-wrap.default-color ul li button.active {
    background-color: #6904A8;
}

@media (max-width: 767px){
    .dropdown-menu-trigger {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #005EEF;
    border-color: #005EEF;
}
.btn-primary{
    background-color: #005EEF;
    border: 1px solid #005EEF;
    font-size: 18px;
    font-weight: bold;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: #ffffff;
    border: 1px solid #005EEF;
    color: #005EEF;
}
.btn-success{
    background-color: #03D6C7;
    border: 1px solid #03D6C7;
    font-size: 18px;
    font-weight: bold;
}
.btn-success:hover,.btn-success:focus,.btn-success:active{
    background-color: #ffffff;
    border: 1px solid #03D6C7;
    color: #03D6C7;
}
.btn-outline-primary{
    border-color: #005EEF;
    color: #005EEF;
    font-weight: bold;
}
.btn-outline-primary:hover{
    background: #005EEF;
    border-color: #005EEF;
    color: #ffffff;
}
.btn-outline-success{
    border-color: #03D6C7;
    color: #03D6C7;
    font-weight: bold;
}
.btn-outline-success:hover{
    background: #03D6C7;
    border-color: #03D6C7;
    color: #ffffff;
} */

label{
    color: #000000;
}
/*REFERENCE COLOR BY UNILEVER END*/

.case-study-left {
    padding: 60px 40px!important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}
.carousel-control.left, .carousel-control.right {
    background:transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff0000!important;
}
.navbar .nav li a i {
    margin-right: 0px!important;
}
.flex-control-thumbs img {
    opacity: .9;
}
.vc_column_container{
    background: #ffffff;
    /* box-shadow: 0px 15px 35px rgb(0 0 0 / 10%); */
}
.vc_column_container>.vc_column-inner {
    padding-left: 25px;
    padding-right: 25px;
    background: transparent;
}
.vc_column_containers>.vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}
.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}
/* .footer-sidebar .widget_nav_menu ul li a:before {
    color: #03D6C7;
}
.footer-sidebar {
    padding: 40px 0 10px;
    color: #ffffff;
} */
/* #toTop {
    color: #03D6C7;
    border: 2px solid #03D6C7;
}
#toTop:hover{
    background: #03D6C7;
} */
/* @media (max-width: 767px){
    .header-transparent .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav li a {
        color: #ffffff;
        font-weight: bold!important;
    }
} */
/* .sticky-wrapper.is-sticky .navbar-default {
    -webkit-box-shadow: none;
    box-shadow: none;
} */
/* .header-transparent .page-title {
    padding: 210px 0 90px;
} */

.page-title h1{
    font-size: 35px;
    font-weight: 400;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    margin-top: -200px;
}

.carousel-fade .carousel-inner .item {
    max-height: 700px;
    opacity: .9!important;
    transition-property:none;
}


@media (min-width: 768px) and (max-width: 991px){
    .trendy-slider .carousel-caption h1 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -3px;
        margin-bottom: 30px;
    }
}

.trendy-slider .carousel-caption h1 {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.trendy-slider .carousel-caption h1 span {
    font-weight: 900;
}

.trendy-slider .carousel-caption h3{
    color: rgb(255, 255, 46);
    font-size: 30px;
}

.navbar-default{
    padding: 10px 0!important;
    z-index: 10!important;
}

.control-one .left.carousel-control {
    left: 30px;
}
.control-one:hover .carousel-control {
    opacity: 1;
    visibility: visible;
}

.control-one .carousel-control {
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 40px;
    top: 50%;
    margin-top: -25px;
    border-radius: 50%;
    color: #000;
    background-color: #ddd;
    background-image: none;
    text-shadow: none;
    opacity: 0;
    visibility: hidden;
}
.carousel-fade .carousel-control {
    z-index: 20;
}


@media (min-width: 768px) and (max-width: 991px){
    .trendy-slider .carousel-caption h1{
        font-size: 30px;
    }
}

@media (max-width: 767px){
    .trendy-slider .carousel-caption h1, .trendy-slider .carousel-caption h3{
        font-size: 20px;
        line-height: normal;
    }
    .navbar-default {
        background-color: transparent;
        border-color: #e7e7e7;
    }
}
.icon-block.icon-default:hover .tt-icon i{
    color: #202020!important;
}
.icon-block{
    padding: 30px 0;
    transition: 0.3s;
    border-top: 3px solid #032A63;
    background-color: #032A63;
    margin-bottom: 30px;
    color: #fff;
}
.icon-block h3{
    color: #fff;
}
.icon-block:hover{
    background-color: #0544A3!important;
    /* background-color: #E8E8E8!important; */
    /* border-radius: 15px; */
}
.icon-block-grid:hover{
    background-color: #E8E8E8!important;
}
.icon-block-wrapper.block-style-border .icon-block-grid .icon-block{
    padding: 30px 0 !important;
}
.flex-control-thumbs img{
    opacity: .6;
}

/* .client-slider-v3 blockquote footer .client-name{
    font-weight: bold!important;
    color: #6904A8!important;
} */
.navbar-brand img {
    min-width: 100px!important;
    height: auto;
}

.sticky-wrapper.is-sticky .navbar-default {
    -webkit-box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 32%);
    -moz-box-shadow: 0 -1px 5px 0 rgba(0,0,0,.32);
    -o-box-shadow: 0 -1px 5px 0 rgba(0,0,0,.32);
    box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 32%);
}
.header-transparent .page-title {
    padding: 120px 0 80px;
}
.page-title{
    margin-bottom: 50px!important;
}

.navbar-default .navbar-toggle {
    border-color: #ff0000;
}
.box-lowongan{
    height: 500px;
}



.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

.kejuruan-list{
    /* height: 620px; */
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px!important;
    border-top: 5px solid #ED203F;
}
.kejuruan-list h4{
    margin-top: 15px;
}
.list-group-item{
    padding: 2px 9px;
}
.list-group-item:nth-child(odd) {
    background: #F7F7F7;
}
.list-group-item:nth-child(even) {
    background: #EEEEEE;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
}

/* CREATION DATE 27-03-2022*/
.vc_custom_1460529049797 {
    padding-top: 100px!important;
    padding-bottom: 95px!important;
    background-color: #ff2a40!important;
}
.vc_custom_1462678141621{
    background-color: #ff2a40!important;
}
.footer-sidebar .widget_nav_menu ul li {
    float: none;
    width: auto;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #FF2A40;
    border-color: #FF2A40;
}
.panel-default>.panel-heading a:hover,.panel-default>.panel-heading a:current{
    color: #ffffff;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
/* tmp: '<div class="tp-tab-title">{{param1}}</div><div class="tp-tab-desc">{{title}}</div>', */
.vc_testi {
    padding-top: 100px !important;
    padding-bottom: 110px !important;
    background-image: url(http://trendytheme.net/demo2/wp/69/multipage/wp-content/uploads/2016/04/client-testimonial-bg.jpg?id=2980) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.client-slider-v2 .testimonial-content {
    color: #000;
    background-color: rgba(255,255,255,.9);
    padding: 30px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.bg-silver{
    background-color: #F8F8F8;
    padding: 30px 0;
}

.boxpelatihan{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 25px 0 rgb(0 0 0 / 6%);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /* padding: 15px; */
    border: 1px solid #e5e5e5;
}
.post-wrapper {
    margin-bottom: 20px;
}
